= render partial: 'shared/header', locals: { back: 'true', title: 'Bible Study Topics', icon: 'logo-mark.svg' }
.page-content
  .block-title.topic List Of Topics
  .list.accordion-list
    %ul
      = panel_link text: "The Word Of God", path: '/home/pages/the_word_of_god'
      = panel_link text: "God", path: '/home/pages/god'
      = panel_link text: "The Economy Of God", path: '/home/pages/the_economy_of_god'
      = panel_link text: "Christ", path: '/home/pages/christ'
      = panel_link text: "The Sprit", path: '/home/pages/the_spirit'
      = panel_link text: "Eternal Life", path: '/home/pages/eternal_life'
      = panel_link text: "Divine Truth - Reality", path: '/home/pages/divine_truth_reality'
      = panel_link text: "Man", path: '/home/pages/man'
      = panel_link text: "The Gospel", path: '/home/pages/the_gospel'
      = panel_link text: "Salvation", path: '/home/pages/salvation'
      = panel_link text: "Christian Experience", path: '/home/pages/christian_experience'
      = panel_link text: "The Believers", path: '/home/pages/the_believers'
      = panel_link text: "The Church - The Body of Christ", path: '/home/pages/the_church_the_body_of_christ'
      = panel_link text: "The Kingdom", path: '/home/pages/the_kingdom'
      = panel_link text: "The New Jerusalem", path: '/home/pages/the_new_jerusalem'
