= render partial: 'shared/header', locals: { back: "false", title: "RcV Topical Guide" }
.page-content
  .block-title{style:"font-weight:bolder;"} List Of Topics
  .list.accordion-list
    %ul
      = panel_link text: "The Word Of God", icon: 'bars', path: 'home/pages/the_word_of_god'
      = panel_link text: "God", icon: 'bars', path: 'home/pages/god'
      = panel_link text: "The Economy Of God", icon: 'bars', path: 'home/pages/the_economy_of_god'
      = panel_link text: "Christ", icon: 'bars', path: 'home/pages/christ'
      = panel_link text: "The Sprit", icon: 'bars', path: 'home/pages/the_spirit'
      = panel_link text: "Eternal Life", icon: 'bars', path: 'home/pages/eternal_life'
      = panel_link text: "Divine Truth - Reality", icon: 'bars', path: 'home/pages/divine_truth_reality'
      = panel_link text: "Man", icon: 'bars', path: 'home/pages/man'
      = panel_link text: "The Gospel", icon: 'bars', path: 'home/pages/the_gospel'
      = panel_link text: "Salvation", icon: 'bars', path: 'home/pages/salvation'
      = panel_link text: "Christian Experience", icon: 'bars', path: 'home/pages/christian_experience'
      = panel_link text: "The Believers", icon: 'bars', path: 'home/pages/the_believers'
      = panel_link text: "The Church - The Body of Christ", icon: 'bars', path: 'home/pages/the_church_the_body_of_christ'
      = panel_link text: "The Kingdom", icon: 'bars', path: 'home/pages/the_kingdom'
      = panel_link text: "The New Jerusalem", icon: 'bars', path: 'home/pages/the_new_jerusalem'
