= render partial: 'shared/header', locals: { back: 'true', title: 'Recovery Version Bible Study Topics', icon: 'logo-mark.svg' }
.page-content
  .block-title.topic List Of Topics
  .list.accordion-list
    %ul
      = panel_link text: "THE WORD OF GOD", path: '/home/pages/the_word_of_god'
      = panel_link text: "GOD", path: '/home/pages/god'
      = panel_link text: "THE ECONOMY OF GOD", path: '/home/pages/the_economy_of_god'
      = panel_link text: "CHRIST", path: '/home/pages/christ'
      = panel_link text: "THE SPIRIT", path: '/home/pages/the_spirit'
      = panel_link text: "ETERNAL LIFE", path: '/home/pages/eternal_life'
      = panel_link text: "DIVINE TRUTH—REALITY", path: '/home/pages/divine_truth_reality'
      = panel_link text: "MAN", path: '/home/pages/man'
      = panel_link text: "THE GOSPEL", path: '/home/pages/the_gospel'
      = panel_link text: "SALVATION", path: '/home/pages/salvation'
      = panel_link text: "CHRISTIAN EXPERIENCE", path: '/home/pages/christian_experience'
      = panel_link text: "THE BELIEVERS", path: '/home/pages/the_believers'
      = panel_link text: "THE CHURCH—THE BODY OF CHRIST", path: '/home/pages/the_church_the_body_of_christ'
      = panel_link text: "THE KINGDOM", path: '/home/pages/the_kingdom'
      = panel_link text: "THE NEW JERUSALEM", path: '/home/pages/the_new_jerusalem'
