= render partial: 'shared/header', locals: { back: 'false', title: 'Bfa Study Companion', icon: 'logo-mark.svg' }
.page-content
  .block-title{style:"font-weight:bolder;"} STUDY
  .list
    %ul
      = panel_link text: "Choose a Bible Study Unit", icon: 'filter.svg', path: 'home/index'
      = panel_link text: "Companion to Basic Elements of the Christian Life", icon: 'study_companion.jpg', path: 'home/companion_to_becl'
      = panel_link text: "Download Basic Elements of the Christian Life Books", icon: 'download-icon.png'
  .block-title{style:"font-weight:bolder;"} SPREAD THE WORD
  .list
    %ul
      = panel_link text: "Facebook", icon: 'fb.jpg'
      = panel_link text: "More Ways to Share", icon: 'share.jpg'
      = panel_link text: "Order a Free New Testament", icon: 'order.jpg'
  .block-title{style:"font-weight:bolder;"} ABOUT
  .list
    %ul
      = panel_link text: "Bibles for America", icon: 'logo-mark.svg'
      = panel_link text: "The Recovery Version", icon: 'recovery_version.jpg'