= render partial: 'shared/header', locals: { back: 'false', title: 'BfA Study App', icon: 'logo-mark.svg' }
.page-content
  .block-title.topic STUDY
  .list
    %ul
      %li
        = link_to 'home/index', class: 'close-panel item-link ripple-color-red' do
          .item-content.list-item
            .item-inner
              .item-title
                %i.fa.fa-book.dark-blue
                &nbsp;
                Recovery Version Bible Study Topics
      %li
        = link_to 'home/companion_to_becl', class: 'close-panel item-link ripple-color-red' do
          .item-content.list-item
            .item-inner
              .item-title
                %i.fa.fa-pencil-square-o.dark-blue
                &nbsp;
                Companion to
                %span.italic
                  Basic Elements of the Christian Life
      %li
        = link_to 'home/download_becl_books', class: 'close-panel item-link ripple-color-red' do
          .item-content.list-item
            .item-inner
              .item-title
                %i.fa.fa-download.dark-blue
                &nbsp;
                Download
                %span.italic
                  Basic Elements of the Christian Life
                Books


  .block-title{style:"font-weight:bolder;"} SPREAD THE WORD
  .list
    %ul
      %li
        = link_to 'http://biblesforamerica.org/free-bible/', class: 'link external close-panel item-link ripple-color-red', target: :blank do
          .item-content.list-item
            .item-inner
              .item-title
                %i.fa.fa-send.dark-blue
                &nbsp;
                Order a Free Bible
                %i.fa.fa-external-link

  .list
    .block.footer-text
      Bibles for America is a nonprofit organization.
      %br
      © 2018 Bibles for America. All rights reserved.




